/* ==========================================================================

// Stylesheet for Build Lesson 8
// Author: KU MarComm - Dave G
// Version: 1.0 - Last Updated: May 16, 2018

========================================================================== */

/* MAIN SITE STYLING ===================================================== */

body {
  font-family: helvetica,arial, sans-serif;
}

h1 {

}

h2 {

}

p {

}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 50px 350px 50px;
}

header {
    grid-column: span 12;
    display: flex;
}

header > div:nth-child(3) {
    margin-left: auto;
}

aside {
    grid-column: span 2;
}
main {
    grid-column: span 10;

}
footer {
    grid-column: span 12;
}

    .red {
      background-color: red;
    }

    .purple {
      background-color: purple;
    }

    .green {
      background-color: green;
    }

    .blue {
      background-color: blue;
    }

.grid-container {
  display: grid;
  grid: 150px / auto auto auto;
}



img {
  object-fit: cover;
  width: 100%;
}

/* RESPONSIVE STUFF GOES HERE ===================================================== */
