body {
    width: 920px;
    background-image: url('../images/oriental-tiles.png');
    margin: 0 auto;
}

.main_div {
    width: 800px;
    height: 70px;
    margin-top: 10px;
    background-color: #fec63e;
}

.mank {
/*     background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%); */
background-image: linear-gradient(to right, red , blue);
}