/* ==========================================================================

// Stylesheet for Build Lesson 4
// Author: KU MarComm - Dave G
// Version: 1.0 - Last Updated: Feb. 21, 2018

========================================================================== */

/* MAIN SITE STYLING ===================================================== */

body {
  background-color: #f4f4f4;
  font-family: helvetica,arial, sans-serif;
}

h1 {
  font-size: 2em;
  color: red;
}

p {
  font-size: 1em;
}

#container {
  width: 90%;
  margin: 0px auto;
  padding: 5%;
}

img {
  object-fit: cover;
  width: 100%;
}

@media screen and (min-width: 1040px) {
  .tablet, .mobile {display: none;}
  .desktop {display: block}
}

@media screen and (max-width: 1040px) {
  .desktop, .mobile {display: none;}
  .tablet {display: block}
}

@media screen and (max-width: 420px) {
  .desktop, .tablet {display: none;}
  .mobile {display: block}
}
