/* ==========================================================================

// Stylesheet for Build Lesson 4
// Author: KU MarComm - Dave G
// Version: 1.0 - Last Updated: Feb. 21, 2018

========================================================================== */

/* MAIN SITE STYLING ===================================================== */

body {
  background-color: #f4f4f4;
  font-family: helvetica,arial, sans-serif;
  width: 1080px;
  margin: 0 auto;
}

.left_column {
  width: 500px;
  float: left;
}

.right_column {
  width: 500px;
  float: right;
}

h1 {
  padding-left: 50px;
}

h2 {

}

p {

}

.image_column {
  width: 340px;
  margin: 10px;
  float: left;
}

/* Reference for object-fit: https://css-tricks.com/almanac/properties/o/object-fit/ */


img.alternate_pet {
  object-fit: cover;
  height: 200px;
  margin-bottom: 20px;
}

img {
  object-fit: cover;
  width: 100%;
  display: block;
  margin: 0px auto;
}

.clear {clear: both;}
